body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bord {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.tit {
    margin: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#age {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
